@import 'source/style/var.scss';

html, body {
  background-color: $gray7;
}
html{
  font-size: $basefsize;
  line-height: $baselineheight;
  color: $black;
  font-family: Arial, Tahoma;
}
body{
  font-size: 1.6rem;
}
*{
  box-sizing: border-box;
}

menu{}
section{}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}
h1.h1{
  font-size: 3.2rem;
  margin-bottom: 3.2rem;
  &_m-b-0{
    margin-bottom: 0;
  }
  &_m-b-6{
    margin-bottom: 0.6rem;
  }
}
h2.h2{
  font-size: 2.8rem;
  margin-bottom: 2.8rem;
}
h3.h3{
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
}
h4.h4{
  font-size: 2rem;
  margin-bottom: 2rem;
}
h5.h5{
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}

p, p.p{
  margin: 0;
  margin-bottom: 1.4rem;
}
