@import 'source/style/var.scss';
.or-body{}
.or-content{
  padding-top: 6rem;
  &__inner{}
}
.or-ul{
  &_status{
    list-style: none;
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    .or-ul__li{
      position: relative;
      padding-left: 3.5rem;
      margin-bottom: 1rem;
    }
  }
  &__li{
    &._checked,
    &._checked-part,
    &._checked-no{
      position: relative;
      &:before{
        position: absolute;
        top: 0;
        left: 0;
        margin-top: -0.2rem;
        font-size: 0;
      }
    }
    &._checked {
      &:before{
        content: "";
        display: block;
        width: 0.6rem;
        height: 1.5rem;
        border: 0.2rem solid $green1;
        border-left-color: transparent;
        border-top-color: transparent;
        transform: rotate(45deg) translateY(-1.2rem);
        margin-top: 0.2rem;
      }
    }
    &._checked-part{
      &:before{
        content: "!";
        font-weight: bold;
        text-align: center;
        line-height: 1.8rem;
        color: $orange1;
        display: block;
        width: 1.8rem;
        height: 1.8rem;
        border-radius: 0;
        border: 0.2rem solid $orange1;
        border-radius: 50%;
        font-size: 1.4rem;
      }
    }
    &._checked-no{
      &:before{
        content: "X";
        font-weight: bold;
        text-align: center;
        line-height: 1.8rem;
        color: $red1;
        display: block;
        width: 1.8rem;
        height: 1.8rem;
        font-size: 1.2rem;
        border: 0.2rem solid $red1;
        border-radius: 50%;
      }
    }
  }
}
.or-menu-resources{
  position: fixed;
  top: 0;
  left: 0;
  margin-bottom: 2rem;
  padding: 2rem;
  background-color: $gray4;
  width: 100%;
  overflow: hidden;
  height: 6rem;
  display: grid;
  grid-area: auto;
  grid-template: '1 .';
  text-align: right;
  &__title{
    font-weight: bold;
    font-size: 1.6rem;
    text-align: left;
    display: flex;
    align-content: center;
    align-items: center;
    color: $gray9;
  }
  &__links{
    display: flex;
    flex: 1 1 100%;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
    justify-items: flex-end;
    margin-right: 1rem;
    .or-link{
      margin-right: 1rem;
    }
  }
}
.or-link{
  color: $blue1;
  &:hover{
    text-decoration: none;
  }
}
