@import 'source/style/var.scss';

.or-dashboard{
  display: block;
  position: relative;
  width: 100%;
  height: calc(100vh - 6rem);
  min-height: calc(100vh - 6rem);
  max-height: calc(100vh - 6rem);
  overflow: hidden;
}
