@import 'source/style/var.scss';

.or-scheme{
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  user-select: none;

  *{ user-select: none; }

  .scheme-menu__add{
    cursor: pointer;
    stroke-opacity: 0.75;
    stroke: $blue1;
    &_block{
      foreignObject{
        z-index: 1;
        a{
          z-index: 0;
          display: block;
          text-align: center;
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          font-size: 3rem;
          line-height: 2rem;
        }
      }
    }
    &_arrow{
      position: relative;
    }
    &_g{

    }
  }
  .or-scheme-item{
    cursor: pointer;
    &:hover{
      .or-scheme-item_handler{
        opacity: 1;
      }
    }
    &_block{
      stroke-width: 2;
    }
    &_arrow{}
    &_handler{
      opacity: 0;
      transition: opacity 0.2s;
      stroke-opacity: 0.15;
      &:hover{
        stroke-opacity: 0.75;
      }
    }
  }
}
