// fonts
$basefsize: 10px;
$baselineheight: 1.2;

// colors
$body: #F9F8F9;
$back_pup: #3C2F44;

$black: #333;
$white: #fff;

$red: #D80027;
$red2: #E62C4D;
$red3: #E96980;
$red4: #CF5E73;
$red5: #9E3548;
$red6: #CB0000;

$gray: #B2B2B2;
$gray2: #D9D9D9;
$gray3: #E5E5E5;
$gray4: #F2F2F2;
$gray5: #FAFAFA;
$gray6: #999999;
$gray7: #FAF9FA;
$gray8: #979797;
$gray9: #94969b;

$blue1: #33b5e5;
$blue2: #0099cc;
$red1:#ff4444;
$red2:#cc0000;
$green1: #00c851;
$green2: #007e33;
$orange1: #ffbb33;
$orange2: #ff8800;

// MEDIA
$mw720: 'min-width: 720px';
$mw1270: 'min-width: 1270px';
$mw1460: 'min-width: 1460px';
$mx960: 'max-width: 959px';
$mx680: 'max-width: 679px';
$phone: 'max-width: 719px';
$tablet: 'max-width: 1023px';
$wtablet: 'max-width: 1271px';
$descktop: 'max-width: 1463px';
