
html, body {
  background-color: #FAF9FA;
}

html {
  font-size: 10px;
  line-height: 1.2;
  color: #333;
  font-family: Arial, Tahoma;
}

body {
  font-size: 1.6rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1.h1 {
  font-size: 3.2rem;
  margin-bottom: 3.2rem;
}
h1.h1_m-b-0 {
  margin-bottom: 0;
}
h1.h1_m-b-6 {
  margin-bottom: 0.6rem;
}

h2.h2 {
  font-size: 2.8rem;
  margin-bottom: 2.8rem;
}

h3.h3 {
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
}

h4.h4 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

h5.h5 {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}

p, p.p {
  margin: 0;
  margin-bottom: 1.4rem;
}
.or-content {
  padding-top: 6rem;
}
.or-ul_status {
  list-style: none;
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}
.or-ul_status .or-ul__li {
  position: relative;
  padding-left: 3.5rem;
  margin-bottom: 1rem;
}
.or-ul__li._checked, .or-ul__li._checked-part, .or-ul__li._checked-no {
  position: relative;
}
.or-ul__li._checked:before, .or-ul__li._checked-part:before, .or-ul__li._checked-no:before {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -0.2rem;
  font-size: 0;
}
.or-ul__li._checked:before {
  content: "";
  display: block;
  width: 0.6rem;
  height: 1.5rem;
  border: 0.2rem solid #00c851;
  border-left-color: transparent;
  border-top-color: transparent;
  -webkit-transform: rotate(45deg) translateY(-1.2rem);
      -ms-transform: rotate(45deg) translateY(-1.2rem);
          transform: rotate(45deg) translateY(-1.2rem);
  margin-top: 0.2rem;
}
.or-ul__li._checked-part:before {
  content: "!";
  font-weight: bold;
  text-align: center;
  line-height: 1.8rem;
  color: #ffbb33;
  display: block;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 0;
  border: 0.2rem solid #ffbb33;
  border-radius: 50%;
  font-size: 1.4rem;
}
.or-ul__li._checked-no:before {
  content: "X";
  font-weight: bold;
  text-align: center;
  line-height: 1.8rem;
  color: #ff4444;
  display: block;
  width: 1.8rem;
  height: 1.8rem;
  font-size: 1.2rem;
  border: 0.2rem solid #ff4444;
  border-radius: 50%;
}

.or-menu-resources {
  position: fixed;
  top: 0;
  left: 0;
  margin-bottom: 2rem;
  padding: 2rem;
  background-color: #F2F2F2;
  width: 100%;
  overflow: hidden;
  height: 6rem;
  display: -ms-grid;
  display: grid;
  grid-area: auto;
  -ms-grid-rows: ;
      grid-template: "1 .";
  text-align: right;
}
.or-menu-resources__title {
  font-weight: bold;
  font-size: 1.6rem;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #94969b;
}
.or-menu-resources__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  justify-items: flex-end;
  margin-right: 1rem;
}
.or-menu-resources__links .or-link {
  margin-right: 1rem;
}

.or-link {
  color: #33b5e5;
}
.or-link:hover {
  text-decoration: none;
}
.or-dashboard {
  display: block;
  position: relative;
  width: 100%;
  height: calc(100vh - 6rem);
  min-height: calc(100vh - 6rem);
  max-height: calc(100vh - 6rem);
  overflow: hidden;
}
.or-scheme {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.or-scheme * {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.or-scheme .scheme-menu__add {
  cursor: pointer;
  stroke-opacity: 0.75;
  stroke: #33b5e5;
}
.or-scheme .scheme-menu__add_block foreignObject {
  z-index: 1;
}
.or-scheme .scheme-menu__add_block foreignObject a {
  z-index: 0;
  display: block;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  font-size: 3rem;
  line-height: 2rem;
}
.or-scheme .scheme-menu__add_arrow {
  position: relative;
}
.or-scheme .or-scheme-item {
  cursor: pointer;
}
.or-scheme .or-scheme-item:hover .or-scheme-item_handler {
  opacity: 1;
}
.or-scheme .or-scheme-item_block {
  stroke-width: 2;
}
.or-scheme .or-scheme-item_handler {
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
  stroke-opacity: 0.15;
}
.or-scheme .or-scheme-item_handler:hover {
  stroke-opacity: 0.75;
}
section.or-content-section {
  padding: 2rem;
}